.nav {
  /* margin-top: 3rem;
  margin-bottom: 2rem; */
  top: 55rem;
  left: 30rem;
  position: relative;
}

.nav ul {
  list-style: none;
  display: flex;
  background-color: rgb(36, 103, 82);
  border-radius: 7px;
  position: relative;
  left: 6rem;
  width: 50%;
}

.nav a:link,
.nav a:visited {
  display: block;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 0.5rem 2rem;
  border-radius: 5px;
}

/* CSS Modules feature */
.nav a:global(.active) {
  background-color: var(--color-brand--3);
}
