.login {
  margin: 2.5rem;
  padding: 2.5rem 5rem;
  background-color: #195b61;
  min-height: calc(100vh - 5rem);
  align-content: center;
  display: flex;
  position: relative;
  width: 40rem;
  height: 60rem;
  left: 18rem;
  border-radius: 3rem;
}

.form {
  background-color: violet;
  border-radius: 7px;
  padding: 2rem 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  /* Different from other form */
  width: 48rem;

  margin: 8rem auto;
}
.form input {
  border: none;
  border-bottom: 1px solid #104d34; /* Add underline */
  padding: 8px;
  background-color: transparent;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  color: rgb(3, 56, 32);
}
.row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
